{% extends "main/internal audit/base.html" %}
{% block content %}
  <h2>List of Requests for Action (RFAs)</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Reference No.</th>
        <th>Issued Date</th>
        <th>Originator</th>
        <th>Department</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for rfa in rfas %}
      <tr>
        <td>{{ rfa.ref_number }}</td>
        <td>{{ rfa.date_issued }}</td>
        <td>{{ rfa.originator }}</td>
        <td>{{ rfa.unit_department }}</td>
        <td>{{ rfa.status }}</td>
        <td><a href="{% url 'rfa_detail' rfa.id %}">View</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
