body, html {
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #5C0915; /* Adjust the background color if needed */
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    width: 100%;
    max-width: 400px; /* Increased max-width for a larger form */
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); /* Adjusted shadow for better depth */
    padding: 40px; /* Increased padding for better spacing */
    animation: fadeIn 0.5s ease-out;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}

.logo img {
    width: 65px; /* Adjust size based on your preference */
}

.form-control, .btn-primary {
    border-radius: 5px;
}

.btn-primary {
    width: 100%;
    color: #fff;
    background-color:#8E2524 ; /* Bootstrap primary color */
    border: none;
}

.form-check-input {
    margin-top: 0.3em;
}


.form-group label {
    float: left;
}

/* Additional Link Styles */
.forgot-password {
    display: block;
    margin-top: 0.5rem; /* Reduced margin */
    color: #007bff;
    cursor: pointer;
}

.forgot-password:hover {
    text-decoration: underline; /* Underline on hover for clear interactivity */
}

/* Custom styles for the chat */
    #chat2 .form-control {
      border-color: transparent;
    }

    #chat2 .form-control:focus {
      border-color: transparent;
      box-shadow: inset 0px 0px 0px 1px transparent;
    }

    .divider:after,
    .divider:before {
      content: "";
      flex: 1;
      height: 1px;
      background: #eee;
    }

    .card-footer .form-control {
      border: none;
    }

    .card-footer {
      background-color: #f8f9fa;
    }

    .card-body {
      overflow-y: auto;
    }

